<div class="contact-div">

    <div class="frow1 page">
        <p class="hm">Home /</p>&nbsp;
        <p style="font-weight: 500;">Contact</p>
    </div>

    <div class="frow1  fcolr">

        <div class="details frow2">

            <div>
                <div class="call frow1">
                    <img src="./assets/call.png">
                    <h4 class="cd">Call To Us</h4>
                </div>

                <p>We are available 24/7, <br> 7 days a week.</p>
                <p>Phone: <br> +888 555 55785</p>
            </div>

            <hr>

            <div>
                <div class="call frow1">
                    <img src="./assets/email.png">
                    <h4 class="cd">Write To Us</h4>
                </div>

                <p>Fill out our form and <br> we will contact <br> you within 24 hours.</p>
                <p>Email: <br> customer&#64;ShopEase.com</p>
                <p>Email: <br> support&#64;ShopEase.com</p>
            </div>

        </div>

        <div class="form-details">

            <div class="frow">

                <input class="input" type="text" placeholder="Your Name">
                <input class="input" type="text" placeholder="Your Email">
                <input class="input" type="text" placeholder="Your Phone">

            </div>

            <textarea  class="msg" type="text" placeholder="Your Message"></textarea>

            <div class="button">
                <button>Send Message</button>
            </div>

        </div>

    </div>

</div>
