<div class="contact-div">

    <div class="frow">
        <p class="hm">Home /</p>&nbsp;
        <p style="font-weight: 500;">Contact</p>
    </div>

    <div class="frow">

        <div class="details">

            <div class="call frow">
                <img src="./assets/call.png">
                <h6 class="cd">Call To Us</h6>
            </div>

            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: +888 555 55785</p>

            <hr>

            <div class="call frow">
                <img src="./assets/email.png">
                <h6 class="cd">Write To Us</h6>
            </div>

            <p>Fill out our form and we will contact <br> you within 24 hours.</p>
            <p>Email: customer&#64;exclusive.com</p>
            <p>Email: support&#64;exclusive.com</p>

        </div>

        <div class="form-details">

            <div class="frow">

                <input class="input" type="text" placeholder="Your Name">
                <input class="input" type="text" placeholder="Your Email">
                <input class="input" type="text" placeholder="Your Phone">

            </div>

            <textarea  class="msg" type="text" placeholder="Your Message"></textarea>

            <div class="button">
                <button>Send Message</button>
            </div>

        </div>

    </div>

</div>