<div class="account-div">

    <div class="frow tit">
        <div class="frow">
            <p class="hm" style="color: gray;">Home /</p>&nbsp;
            <p style="font-weight: 500;">About</p>
        </div>
        <div class="frow">
            <p>Welcome!</p>&nbsp;
            <p style="color: #DB4444;" class="user">John Carter</p>
        </div>
    </div>

    <div class="frow content">

        <div class="menu">
            <p class="title">Manage My Account</p>
            <div class="option">
                <p>My Profile</p>
                <p>Address Book</p>
                <p>My Payment Options</p>
            </div>
            <p class="title">My Orders</p>
            <div class="option">
                <p>My Returns</p>
                <p>My Cancellations</p>
            </div>
            <p class="title">My Wishlist</p>
        </div>

        <div class="form-details">

            <mat-card>
                <mat-card-content class="three-d-card">

                    <p class="title2">Edit Your Profile</p>

                    <form action="">

                        <div class="col">

                            <div class="frow imrg">
                                <div class="fcol inp">
                                    <label>First Name</label>
                                    <input class="input1" type="text" placeholder="John">
                                </div>
                                <div class="fcol">
                                    <label>Last Name</label>
                                    <input class="input1" type="text" placeholder="Carter">
                                </div>
                            </div>

                            <div class="frow imrg">
                                <div class="fcol inp">
                                    <label>Email</label>
                                    <input class="input1" type="text" placeholder="John@gmail.com">
                                </div>
                                <div class="fcol">
                                    <label>Adderss</label>
                                    <input class="input1" type="text" placeholder="Kingston, 5236, United State">
                                </div>
                            </div>

                            <div class="fcol">
                                <label>Password Changes</label>
                                <input class="passinput" type="text" placeholder="Current Password">
                                <input class="passinput" type="text" placeholder="New Password">
                                <input class="passinput" type="text" placeholder="Current New Password">
                            </div>

                            <div class="button">
                                <button class="cancel">Cancel</button>
                                <button class="save">Save Changes</button>
                            </div>

                        </div>

                    </form>

                </mat-card-content>
            </mat-card>

        </div>

    </div>

</div>