<div class="cart-div">

    <div class="frow">
        <p class="hm" style="color: gray;">Home /</p>&nbsp;
        <p style="font-weight: 500;">Cart</p>
    </div>

    <div class="cart-box">

        <div class="prod-card">

            <div class="title">
                <mat-card>
                    <mat-card-content class="three-d-card">
                        <div class="frow heading">
                            <h6>Product</h6>
                            <h6>Price</h6>
                            <h6>Quantity</h6>
                            <h6>Subtotal</h6>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="products">
                <mat-card>
                    <mat-card-content class="three-d-card card1">
                        <div class="frow">
                            <div class="frow">
                                <img src="./assets/monitor.jpg" class="prod-img">
                                <p class="prod-name">LCD Monitor</p>
                            </div>
                            <p class="price">$855</p>
                            <input type="number" class="qua" value="1">
                            <p class="sub">%855</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="btn-container">
                <button class="btn-style return">Return To Shop</button>
                <button class="btn-style update">Update Cart</button>
            </div>

        </div>

        <div class="bill-card frow">

            <div class="frow">
                <input type="text" placeholder="Coupon Code" class="coupon">
                <button class="cpn-btn">Apply Coupon</button>
            </div>

            <div class="bill-box">

                <p class="card-title">Cart Total</p>

                <div class="frow bill-amo">
                    <p>Subtotal : </p>
                    <p>$855</p>
                </div>

                <hr>

                <div class="frow bill-amo">
                    <p>Shipping : </p>
                    <p>Free</p>
                </div>

                <hr>

                <div class="frow bill-amo">
                    <p>Total : </p>
                    <p>$855</p>
                </div>

                <button class="proceed">Proceed to checkout</button>

            </div>

        </div>

    </div>

</div>