<div class="cart-div">

    <div class="frow page">
        <p class="hm" style="color: gray;">Home /</p>&nbsp;
        <p style="font-weight: 500;">Cart</p>
    </div>

    <div class="cart-box">

        <div class="prod-card">

            <div class="title">
                <mat-card>
                    <mat-card-content class="three-d-card">
                        <div class="frow heading">
                            <h4>Product</h4>
                            <h4>Price</h4>
                            <h4>Quantity</h4>
                            <h4>Subtotal</h4>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="products">
                <mat-card>
                    <mat-card-content class="three-d-card card1">
                        <div class="frow">
                            <div class="frow">
                                <img src="./assets/monitor.jpg" class="prod-img">
                                <p class="prod-name">LCD Monitor</p>
                            </div>
                            <p class="price">$855</p>
                            <input type="number" class="qua" value="1">
                            <p class="sub">%855</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="btn-container">
                <button class="btn-style return">Return To Shop</button>
                <button class="btn-style update">Update Cart</button>
            </div>

        </div>

        <div class="prod-cart-m">

            <mat-card class="pm">
                <mat-card-content class="three-d-card">
                    <div class="frow">

                        <div class="fcol">
                            <img class="r-img" src="./assets/monitor.jpg">
                            <div class="frow btns">
                                <button class="plus p">+</button>
                                <p class="value">1</p>
                                <button class="plus">-</button>
                            </div>
                        </div>

                        <div class="disc">
                            <p class="text">Monitor</p>
                            <p style="margin-bottom: 5px;">(size: 16.8', Ultra HD...)</p>
                            <p style="color: green; font-size: 17px; margin-bottom: 5px"> ★ ★ ★ ★ ☆</p>
                            <p style="font-size: 25px;">$855</p>
                        </div>

                    </div>

                    <div class="frow">
                        <p style="font-size: 13px;"> Delivery by April 10, Sun • </p>&nbsp;
                        <p style="color: green; font-size: 13px;">FREE</p>
                    </div>

                </mat-card-content>
            </mat-card>

            <div class="btns2">
                <button class="rbtn rbtn1">Return To Shop</button>
                <button class="rbtn rbtn2">Update Cart</button>
            </div>

        </div>

        <div class="bill-card fcol">
            
            <div class="frow">
                <input type="text" placeholder="Coupon Code" class="coupon">
                <button class="cpn-btn">Apply Coupon</button>
            </div>

            <div class="bill-box">

                <p class="card-title">Cart Total</p>

                <div class="frow bill-amo">
                    <p>Subtotal : </p>
                    <p>$855</p>
                </div>

                <hr>

                <div class="frow bill-amo">
                    <p>Shipping : </p>
                    <p>Free</p>
                </div>

                <hr>

                <div class="frow bill-amo">
                    <p>Total : </p>
                    <p>$855</p>
                </div>

                <button class="proceed">Proceed to checkout</button>

            </div>

        </div>

    </div>

</div>