<div class="footer">
  <div class="frow space">

      <div class="f-sec1">
          <h4>Exclusive</h4>
          <div class="fcol">
              <div>
                  <h6>Subscribe</h6>
                  <p>Get 10% off your first order</p>
              </div>
              <div class="input-field">
                  <input type="text" placeholder="Enter your email">
                  <div>
                      <span class="material-symbols-outlined">
                          send
                      </span>
                  </div>
              </div>
          </div>
      </div>

      <div class="frow1">
          <div class="f-sec3">
              <h6>Account</h6>
              <div class="fcol">
                  <div class="ele">
                      <p>My Account</p>
                      <p>Login / Register</p>
                      <P>Cart</P>
                  </div>
                  <div>
                      <p>Wishlist</p>
                      <p>Shop</p>
                  </div>
              </div>
          </div>

          <hr class="mhr">

          <div class="f-sec4">
              <h6>Quick Link</h6>
              <div class="fcol">
                  <div class="ele2">
                      <p>Privacy Policy</p>
                      <p>Terms of Use</p>
                  </div>
                  <div>
                      <p>FAQ</p>
                      <p>Contact</p>
                  </div>
              </div>
          </div>
      </div>

      <hr class="mhr2">

      <div class="f-sec2">
          <h6>Support</h6>
          <p class="add">111 Bijoy sarani, Dhaka,<br> DH 1515, Bangladesh.</p>
          <div class="fcol ctr">
              <p>exclusive&#64;gmail.com</p>
              <p>+885-685-5424</p>
          </div>
      </div>


      <div class="f-sec5">
          <h6>Download App</h6>
          <p>Save $3 with App New User Only</p>
          <div class="frow">
              <span class="material-symbols-outlined qr">
                  qr_code_2
              </span>
              <div>

                  <div class="play frow">
                      <img src="./assets/playstore.png">
                      <div>
                          <p class="get">GET IT ON</p>
                          <p class="store"><strong>Google Play</strong></p>
                      </div>
                  </div>

                  <div class="play frow">
                      <img src="./assets/apple.png">
                      <div>
                          <p class="get">Download on the</p>
                          <p class="store"><strong>App Store</strong></p>
                      </div>
                  </div>

              </div>
          </div>

          <div class="frow icon">
              <img src="./assets/facebook.png">
              <img src="./assets/instagram.png">
              <img src="./assets/twitter.png">
              <img src="./assets/linkedin.png">
          </div>

      </div>

  </div>

  <hr class="chr" style="border-color: rgb(255,255,255);">
  <p class="copy" style="margin-bottom: 0;">© CopyRight Exclusive 2024. All Right Reserved</p>
</div>
