.frow {
  display: flex;
  flex-direction: row;
}

.footer {
  color: white;
  background-color: black;
}

.space {
  height: 330px;
  padding: 80px;
  justify-content: space-between;
}

hr {
  border-color: rgb(255, 255, 255);
}

.f-sec1 {

  p {
    font-size: 13px;
  }

  .input-field {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
  }

  .input-field input {
    padding-right: 50px;
    color: white;
    border: none;
    background-color: black;
    padding: 5px;
  }

  .input-field input:focus {
    outline: none;
  }

  .input-field span {
    margin-top: 5px;
    padding-right: 5px;
  }
}

.f-sec2 {

  .add {
    font-size: 13px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  h6 {
    margin-bottom: 20px;
  }

}

.f-sec3 {

  p {
    font-size: 13px;
  }

  h6 {
    margin-bottom: 20px;
  }
}

.f-sec4 {

  p {
    font-size: 13px;
  }

  h6 {
    margin-bottom: 20px;
  }
}

.f-sec5 {

  p {
    margin-left: 10px;
    font-size: 13px;
  }

  h6 {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .qr {
    font-size: 7rem;
  }

  .play {
    margin-top: 10px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;

    .get {
      font-size: 7px;
      margin-bottom: 0;
    }

    .store {
      font-size: 14px;
      margin-bottom: 1px;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }

  .icon {

    margin-top: 5px;
    justify-content: space-around;

    img {
      height: 25px;
      width: 25px;
    }
  }

}

.copy {
    display: flex;
    justify-content: center;
    color: rgb(111, 104, 104);
    padding-bottom: 20px;
}