<div class="frow footer">

    <div class="sec1">
        <h4>Exclusive</h4>
        <h6>Subscribe</h6>
        <p>Get 10% off your first order</p>
        <div class="input-field">
            <input type="text" placeholder="Enter your email">
            <span class="material-symbols-outlined">
                send
            </span>
        </div>
    </div>

    <div class="sec2">
        <h6>Support</h6>
        <p class="add">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
        <p>exclusive@gmail.com</p>
        <p>+885-685-5424</p>
    </div>

    <div class="sec3">
        <h6>Account</h6>
        <p>My Account</p>
        <p>Login / Register</p>
        <P>Cart</P>
        <p>Wishlist</p>
        <p>Shop</p>
    </div>

</div>