<div class="product-div">

    <div class="frow page">
        <p class="hm" style="color: gray;">Account / Gaming / </p>&nbsp;
        <p style="font-weight: 500;">Havic HV G-92 Gamepad</p>
    </div>


    <div class="sec1 frow">
        
        <div class="frow">
            <div class="imgsec1 fcol">
                <img src="./assets/pic1.svg" alt="">
                <img src="./assets/pic2.svg" alt="">
                <img src="./assets/pic3.svg" alt="">
                <img src="./assets/pic4.svg" alt="">
            </div>
            <div class="imgsec2">
                <img src="./assets/main-pic.svg" alt="">
            </div>
        </div>

    </div>


</div>