
<div class="h-sec1">
    <div class="frow">
        <p class="sale">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
        <a class="shop" routerLink="">Shop Now</a>
    </div>
    <div class="frow dropdown">
        <label for="showDrop" class="mobile-item">Dropdown Menu</label>
        <ul class="drop-menu">
          <li><a href="#">Drop menu 1</a></li>
          <li><a href="#">Drop menu 2</a></li>
          <li><a href="#">Drop menu 3</a></li>
          <li><a href="#">Drop menu 4</a></li>
        </ul>
        <img src="./assets/dropdown.png">
    </div>
</div>


