.h-sec1 {
  position: relative;
  z-index: 1;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 12px;

  .br {
    display: none;
  }

  .mobile-item {
    display: flex;
    text-align: flex-end;
    margin-top: 5px;
  }

  .sale {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 42rem;
  }

  .shop {
    margin-top: 6px;
    color: white;
    margin-bottom: 0;
  }

}

.stick {
  position: sticky;
  top: 0;
  background-color: white;
  // z-index: 2;
}

.frow {
  display: flex;
  flex-direction: row;
}


img {
  height: 30px;
  width: 30px;
  padding-bottom: 2px;
}

.dropdown {
  margin-top: 2px;
  margin-left: 37rem;
  cursor: pointer;
}

.dropdown:hover .drop-menu {
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #121010;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  top: calc(100% - 5px);
  left: 0;
}

.dropdown:hover .drop-menu,
.drop-menu:hover {
  display: block;
}

.drop-menu li {
  cursor: pointer;
}

.drop-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.drop-menu li a:hover {
  background-color: #838080;
}


.input-field {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(235, 235, 235);
  border-radius: 6px;
  position: relative;
  margin-left: 35rem;
}

.input-field input {
  width: 13rem;
  border: 1px solid rgb(235, 235, 235);
  background-color: rgb(235, 235, 235);
  padding-left: 5px;
}

.input-field input:focus {
  outline: none;
}

.input-field span {
  font-size: 2rem;
  padding-right: 5px;
  border: 1px solid rgb(235, 235, 235);
  background-color: rgb(235, 235, 235);
}

.h-sec2 {

  .menu {
    display: none;
  }

  padding: 10px 32px 0 40px;

  h2 {
    margin-left: 7rem;
    font-weight: 500;
  }

  .frow1 {
    display: flex;
    flex-direction: row;
  }

  .link {

    margin-left: 15rem;
    margin-top: 10px;

    p {
      cursor: pointer;
      margin-right: 25px;
    }

    p:hover {
      font-weight: 500;
      border-bottom: 1px solid black;
    }
  }

  .icon {

    padding-top: 5px;
    margin-left: 2rem;

    span {
      cursor: pointer;
      margin-right: 15px;
      font-size: 30px;
    }

  }
}

.acc-menu {
  display: none;
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  top: 80%;
  margin-right: 2.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  backdrop-filter: blur(25px);
  z-index: 120;

  .menus {
    padding: 0 1rem 0 1rem;
    cursor: pointer;

    p {
      margin-top: 7%;
      font-size: 16px;
    }

    .menu-icon {
      margin-right: 12px;
      height: 3rem;
      width: 2rem;
    }
  }

  .menus:hover {
    background-color: #DB4444;
  }

}

.acc:hover+.acc-menu {
  display: block;
}

.acc-menu:hover {
  display: block;
}


.srch {
  padding-top: 1px;
}

.i1 {
  display: none;
}

hr {
  margin: 0 0;
}






// mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm



@media screen and (max-width: 1025px) {

  .h-sec1 {

    position: relative;
    z-index: 1;
    justify-content: unset;

    p {
      font-size: 17px;

      .br {
        display: none;
      }
    }

    a {
      font-size: 17px;
      margin-top: 12px;
      margin-left: 3px
    }

    .sale {
      margin-left: 0px;
    }

    .dropdown {
      margin-left: 8rem;

      img {
        height: 35px;
        width: 38px;
      }
    }

    .mobile-item {
      margin-left: 7rem;
      font-size: 17px;
    }

  }

  .stick {
    position: sticky;
    top: 0;
    background-color: white;
    // z-index: 2;
  }


  .h-sec2 {

    padding: 10px 10px 10px 25px;
    margin-top: 5px;

    .menu {
      display: none;
    }

    h2 {
      margin-left: 7px;
      font-size: 25px;
    }

    .link {
      margin-left: 1rem;
      margin-top: 7px;

      p {
        cursor: pointer;
        margin-right: 25px;
        font-size: 20px
      }

      p:hover {
        border-bottom: 1px solid black;
      }
    }


    .input-field {
      margin-left: 10px;
      height: 2.5rem;
      display: flex;
      flex-direction: row;
      border-radius: 6px;
      position: relative;
    }

    .input-field input {
      width: 12rem;
      border: 1px solid rgb(235, 235, 235);
      background-color: rgb(235, 235, 235);
      padding-left: 5px;
    }

    .input-field input:focus {
      outline: none;
    }

    .input-field span {
      font-size: 2rem;
      padding-right: 5px;
      border: 1px solid rgb(235, 235, 235);
      background-color: rgb(235, 235, 235);
    }

    .icon {

      padding-top: 5px;
      margin-left: 2rem;

      span {
        cursor: pointer;
        margin-right: 15px;
        font-size: 30px;
      }
    }

    .i1 {
      display: none;
    }

  }

  .menuhide {
    display: none;
  }

  hr {
    margin: 0 0;
  }


}













// mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm




@media screen and (max-width: 450px) {

  .h-sec1 {

    position: relative;
    z-index: 1;
    justify-content: unset;

    p {
      font-size: 10px;

      .br {
        display: block;
      }
    }

    .shop {
      margin-top: 1.6rem;
    }

    a {
      font-size: 12px;
      margin-top: 12px;
    }

    .sale {
      margin-left: 0px;
    }

    .dropdown {
      margin-top: 1.2rem;
      margin-left: 5rem;

      img {
        margin-top: 3px;
        height: 25px;
        width: 25px;
      }
    }

    .mobile-item {
      margin-left: 0;
      font-size: 12px;
    }

  }

  .stick {
    position: sticky;
    top: 0;
    background-color: white;
    // z-index: 2;
  }


  .h-sec2 {

    padding: 10px;
    margin-top: 5px;

    .menu {
      display: block;
      margin-top: 3px;
    }

    h2 {
      margin-left: 7px;
    }

    .link {
      display: none;
    }

    .input-field {
      display: none;
    }

    .inp {
      margin-left: 10px;
      height: 2.5rem;
      display: flex;
      flex-direction: row;
      border-radius: 6px;
      position: relative;
    }

    .inp input {
      width: 21rem;
      border: 1px solid rgb(235, 235, 235);
      background-color: rgb(235, 235, 235);
      padding-left: 5px;
    }

    .inp input:focus {
      outline: none;
    }

    .inp span {
      font-size: 2rem;
      padding-right: 5px;
      border: 1px solid rgb(235, 235, 235);
      background-color: c;
    }

    .icon {
      display: none;
    }

    .i1 {
      display: block;
      padding-top: 2px;
      margin-left: 8rem;

      span {
        margin-right: 5px;
        font-size: 1.6rem;
      }
    }

  }

  .menuhide {
    display: block;
    margin-left: 10px;
  }

  hr {
    margin: 0 0;
  }


}




// mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm






@media screen and (max-width: 395px) {

  .fcol1 {
    display: flex;
    flex-direction: column;
  }

  .h-sec1 {

    position: relative;
    z-index: 1;
    justify-content: unset;

    p {
      font-size: 10px;

      .br {
        display: block;
      }
    }

    .shop {
      margin-top: 1.6rem;
    }

    a {
      font-size: 12px;
      margin-top: 12px;
    }

    .sale {
      margin-left: 0px;
    }

    .dropdown {
      margin-top: 1.2rem;
      margin-left: 2rem;

      img {
        margin-top: 3px;
        height: 25px;
        width: 25px;
      }
    }

    .mobile-item {
      font-size: 12px;
    }

  }

  .stick {
    position: sticky;
    top: 0;
    background-color: white;
    // z-index: 2;
  }

  .h-sec2 {
    padding: 10px;
    margin-top: 5px;

    .menu {
      display: block;
      margin-top: 3px;
    }

    .link {
      display: none;
    }

    .input-field {
      display: none;
    }

    .icon {
      display: none;
    }

    .inp input {
      width: 18rem;
    }

    .i1 {
      display: block;
      padding-top: 2px;
      margin-left: 5rem;

      span {
        margin-right: 5px;
        font-size: 1.6rem;
      }
    }

  }

  h4 {
    margin-left: 7px;
  }

  hr {
    margin: 0 0;
  }



}
