<div class="h-sec1">
    <div class="frow">
        <p class="sale">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
        <a class="shop" routerLink="">Shop Now</a>
    </div>
    <div class="frow dropdown">
        <label for="showDrop" class="mobile-item">English</label>
        <ul class="drop-menu">
            <li><a href="#">English</a></li>
            <li><a href="#">Hindi</a></li>
            <li><a href="#">Germen</a></li>
        </ul>
        <img src="./assets/dropdown.png">
    </div>
</div>


<div class="h-sec2 frow">

    <h4>Exclusive</h4>

    <div class="frow link">
        <p>Home</p>
        <p>Contect</p>
        <p>About</p>
        <p>Sign Up</p>
    </div>

    <div class="input-field">
        <input type="text" placeholder="Search">
        <div style="background-color: rgb(213, 213, 213);">
            <span class="material-symbols-outlined srch">
                search
            </span>
        </div>
    </div>

    <div class="icon">
        <span class="material-symbols-outlined">
            favorite
        </span>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
        <span class="material-symbols-outlined">
            account_circle
        </span>
    </div>

    
</div>
<hr>