<div class="wishlist-div">

    <div class="frow1 page space">
        <p style="font-weight: 500;">Wishlist(4)</p>
        <button class="bag">Move All To Bag</button>
    </div>


    <div class="wishlist-card frow space wrap">


        <div>
            <div class="image-container">
                <img class="image" src="./assets/cart1.png">
                <button class="cart-btn"> <i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>
                <div class="discount">
                    -35%
                </div>

                <div class="delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <p class="prod-name">Gucci duffle bag</p>
            <div class="price frow">
                <p style="color: #DB4444;">$960</p>
                <p class="disc">$1160</p>
            </div>
        </div>

        <div>
            <div class="image-container">
                <img class="image" src="./assets/cart2.png">
                <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>

                <div class="discount">
                    -35%
                </div>
                <div class="delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <p class="prod-name">RGB liquid CPU Cooler</p>
            <div class="price frow">
                <p style="color: #DB4444;">$1960</p>
            </div>
        </div>

        <div>
            <div class="image-container">
                <img class="image" src="./assets/cart3.png">
                <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>

                <div class="discount">
                    -35%
                </div>
                <div class="delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <p class="prod-name">GP11 Shooter USB Gamgepade</p>
            <div class="price frow">
                <p style="color: #DB4444;">$550</p>
            </div>
        </div>

        <div>
            <div class="image-container">
                <img class="image" src="./assets/cart4.png">
                <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>

                <div class="discount">
                    -35%
                </div>
                <div class="delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </div>
            </div>
            <p class="prod-name">Quilted Satin Jacket</p>
            <div class="price frow">
                <p style="color: #DB4444;">$750</p>
            </div>
        </div>


    </div>


    <div class="you">

        <div class="space pading">

            <div class="frow pad">
                <div class="block"></div>
                <p class="title">Just For You</p>
            </div>

            <button class="all">See All</button>

        </div>

        <div class="wishlist-card2 frow space wrap">


            <div>
                <div class="image-container">
                    <img class="image" src="./assets/cart5.png">
                    <button class="cart-btn"> <i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>
                    <div class="discount">
                        -35%
                    </div>
    
                    <div class="delete">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </div>
                </div>
                <p class="prod-name">Gucci duffle bag</p>
                <div class="price frow">
                    <p style="color: #DB4444;">$960</p>
                    <p class="disc">$1160</p>
                </div>
                <div class="frow">
                    <p style="color: orange; font-size: 18px;">★ ★ ★ ★ ★</p>
                    <p>(65)</p>
                </div>
            </div>
    
            <div>
                <div class="image-container">
                    <img class="image" src="./assets/cart6.png">
                    <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>
    
                    <div class="discount">
                        -35%
                    </div>
                    <div class="delete">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </div>
                </div>
                <p class="prod-name">RGB liquid CPU Cooler</p>
                <div class="price frow">
                    <p style="color: #DB4444;">$1960</p>
                </div>
                <div class="frow">
                    <p style="color: orange; font-size: 18px;">★ ★ ★ ★ ★</p>
                    <p>(65)</p>
                </div>
            </div>
    
            <div>
                <div class="image-container">
                    <img class="image" src="./assets/cart7.png">
                    <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>
    
                    <div class="discount">
                        -35%
                    </div>
                    <div class="delete">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </div>
                </div>
                <p class="prod-name">GP11 Shooter USB Gamgepade</p>
                <div class="price frow">
                    <p style="color: #DB4444;">$550</p>
                </div>
                <div class="frow">
                    <p style="color: orange; font-size: 18px;">★ ★ ★ ★ ★</p>
                    <p>(65)</p>
                </div>
            </div>
    
            <div>
                <div class="image-container">
                    <img class="image" src="./assets/cart8.png">
                    <button class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp; Add To Cart</button>
    
                    <div class="discount">
                        -35%
                    </div>
                    <div class="delete">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </div>
                </div>
                <p class="prod-name">Quilted Satin Jacket</p>
                <div class="price frow">
                    <p style="color: #DB4444;">$750</p>
                </div>
                <div class="frow">
                    <p style="color: orange; font-size: 18px;">★ ★ ★ ★ ★</p>
                    <p>(65)</p>
                </div>
            </div>
    
    
        </div>

    </div>



</div>