.home-div {

  position: relative;

  .title-btn1 {
    padding-top: 1rem;
    height: 80px;

    
    img {
      cursor: pointer;
      margin-right: 7px;
    }
  }

  .bro {
    font-size: 22px;
    font-weight: 500;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .swiper-wrapper {
    margin-bottom: 2rem;
  }

  .swiper-pagination {
    width: 93rem;
  }

  .frow1,
  .frowp {
    display: flex;
    flex-direction: row;
  }

  .pag-btn {
    display: block;
  }

  .main-swip {
    display: block;
  }

  .med-swip {
    display: none;
  }

  .cat-menu-btn {
    display: none;
  }

  .click1 {
    cursor: pointer;
  }

  .menubtn {
    display: none;
  }

  .move {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    color: white;
  }

  .frow {
    display: flex;
    flex-direction: row;
  }

  .fcol {
    display: flex;
    flex-direction: column;
  }

  .space {
    display: flex;
    justify-content: space-between;
  }

  .sec1 {

    .imgbtn {
      position: relative;
    }

    .shop {
      position: absolute;
      bottom: 0;
      margin-bottom: 3rem;
      margin-left: 4.3rem;

      p {
        margin-top: 2px;
        margin-right: 3px;
        text-decoration: underline;
        color: white;
      }

      span {
        color: white;
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
    }

    .menu {
      padding: 3rem 0 0 12rem;
    }

    .cat-btn {
      margin-left: 4rem;
      // height: 1.1rem;
      height: 0.7rem;
      width: 1.2rem;
      margin-top: 5px;
    }

    .cat-btn2 {
      display: block;
      margin-left: 5.4rem;
      height: 0.7rem;
      width: 1.2rem;
      margin-top: 5px;
    }

    // .cat-btn22 {
    //   display: none;
    // }

    hr {
      border: none;
      border-right: 1px solid black;
      margin: 0 20px 0 20px;
      height: 23.5rem;
    }


    .click {
      cursor: pointer;
    }

    .mcat,
    .wcat {
      display: none;
      z-index: 2;
      border-radius: 8px;
      padding-left: 25px;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-top: 1.5rem;
      position: absolute;
      height: auto;
      width: 16rem;
      border: 1px solid black;
      background-color: rgb(0, 0, 0, 0.7);
      color: white;
      -webkit-backdrop-filter: none;
      backdrop-filter: blur(2px) !important;

      p:hover {
        color: rgb(172, 172, 172);
      }

    }

    .prod-swip {
      padding: 3rem 0 0 10rem;

      img {
        width: 57rem;
        height: 20rem;
      }


    }

  }

  .sec2 {
    padding: 9rem 12rem 0 12rem;




    .button {
      margin-left: 41rem;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      height: 2.6rem;
      width: 11rem;
      background-color: #DB4444;
      color: white;
      border: none;
      border-radius: 5px;
    }

    .button:hover {
      background-color: red;
    }

  }

  .disc {
    text-decoration: line-through;
    margin-left: 5px;
  }

  .prod-name {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 20px;
  }

  .price p {
    font-size: 15px;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .cart-btn {
    display: none;
    position: absolute;
    width: 16.8rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .image:hover+.cart-btn {
    display: block;
  }

  .cart-btn:hover {
    display: block;
  }

  .discount {
    margin-top: 1rem;
    height: 1.5rem;
    width: 2.9rem;
    border-radius: 5px;
    color: white;
    background-color: #DB4444;
    position: absolute;
    top: 0;
    left: 12%;
    padding: 3px 3px 3px 7px;
    transform: translateX(-50%);
    border: none;
  }

  .delete {
    margin-top: 0.6rem;
    height: 2.2rem;
    width: 2.2rem;
    padding: 6px 0 0 5px;
    border-radius: 80%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;
  }

  .heart {
    margin-top: 3.2rem;
    padding: 7px 0 0 6px;

  }

  .block {
    border-radius: 3px;
    background-color: #DB4444;
    height: 2.1rem;
    width: 0.9rem;
  }

  .categories {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
    margin-left: 15px;
  }

  .title-btn {

    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 120px;

    .flash {
      font-size: 28px;
      padding-top: 5%;
      font-weight: 500;
    }

    img {
      cursor: pointer;
      margin-right: 7px;
    }
  }


  .sec3 {

    padding: 2rem 12rem 0 12rem;


    .cat {
      margin-bottom: 2rem;
      margin-top: 1.2rem;
      padding-top: 1rem;
      border: 2px solid gray;
      border-radius: 6px;
      height: 9rem;
      width: 10rem;
      display: flex;
      align-items: center;

      img {
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 20px;
        font-weight: 500;
      }

      .white {
        display: none;
      }

      .black {
        display: block;
      }

    }

    .cat:hover {
      border: none;
      background-color: #DB4444;
      color: white;

      .white {
        display: block;
      }

      .black {
        display: none;
      }
    }

  }





  .round-timer {
    position: absolute;
    bottom: 0;
    width: 20px;
    margin-bottom: 9rem;
    margin-left: 5rem;


    .inner-clock-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 280px;


      .clock-style-1 {

        .c-up {
          font-weight: bold;
          font-size: 14px;
        }

        .c-down {
          font-weight: 400;
          font-size: 11px;
        }

      }

    }

    .round {
      border: none;
      border-radius: 50%;
      height: 3.5rem;
      width: 3.5rem;
      color: rgb(0, 0, 0);
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

  }




  .inner-dflex-clock1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;

    .clock-style-2 {

      .c-up1 {
        font-size: 14px;
      }

      .c-down1 {
        font-size: 30px;
        margin-top: 0.5rem;
        font-weight: 900;

      }

      img {
        margin-top: 230%;
        height: 20px;
        width: auto;
      }
    }

  }



  .sec4 {
    padding: 2rem 12rem 0 12rem;

    .all {
      border: none;
      border-radius: 5px;
      background-color: #DB4444;
      color: white;
      height: 2.5rem;
      width: 8rem;
    }

    .all:hover {
      background-color: red;
    }

  }

  .sec5 {
    padding: 8rem 12rem 10rem 12rem;
    text-align: center;

    img {
      height: 30rem;
      width: 92rem;
    }

    .pstr {
      position: relative;
    }

    .buybtn {
      position: absolute;
      bottom: 0;
      margin-bottom: 5rem;
      margin-left: 5rem;

      button {
        border: none;
        border-radius: 5px;
        height: 2.5rem;
        width: 8rem;
        color: black;
        background-color: #00FF66;
      }
    }
  }

  .sec6 {

    padding: 0 12rem 0 12rem;

    .mrgt {
      margin-top: 2rem;
    }

    .view {
      margin: 2rem 0 3rem 42rem;
      border: none;
      border-radius: 5px;
      background-color: #DB4444;
      color: white;
      height: 2.5rem;
      width: 10rem;
    }

  }


  .sec7 {
    padding: 0 12rem 0 12rem;

    .img-sec {
      margin: 2rem 0 2rem 0;
    }

    .image {
      margin-left: 2rem;
    }

    .img1 {
      height: 40rem;
      width: 35rem;
      margin-left: 11rem;
    }

    .img3 {
      margin-right: 1.4rem;
      margin-top: 1rem;
      height: 21.1rem;
      width: 17.1rem;
    }

  }

  .service {
    padding: 0 12rem 0 12rem;
    margin-top: 8rem;
    padding-right: 11rem;
    padding-left: 9.4rem;
    display: flex;
    justify-content: center;
  }

  .ser1 {
    height: 10rem;
    width: 18rem;
    text-align: center;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  .ex {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .serimg {
    height: 5rem;
    width: 5rem;
  }


}











// mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm






@media screen and (max-width: 395px) {

  .home-div {

    .downcard {
      display: none;
    }

    .frow1,
    .frowp {
      display: flex;
      flex-direction: column;
    }

    .swiper-wrapper {
      margin-bottom: 2rem;
    }

    .swiper-pagination {
      width: 20rem;
    }

    .pag-btn {
      display: none;
    }

    .main-swip {
      display: none !important;
    }

    .med-swip {
      display: block;
    }

    .cat-menu-btn {
      display: block;
    }

    .menubtn {
      display: block;
    }

    .sec1 {



      .menu {
        z-index: 9;
        background-color: white;
        position: absolute;
        padding: 1rem;
      }

      .menuo {
        display: none;
      }

      p {
        font-size: 13px;
        margin-bottom: 5px;
      }

      .cat-btn,
      .cat-btn2 {
        height: 0.5rem;
        width: 0.8rem;
      }

      .cat-btn2 {
        margin-left: 3rem;
      }

      .cat-btn {
        margin-left: 1.9rem;
      }

      hr {
        display: none;
      }

      .prod-swip {
        position: relative;
        display: inline-block;
        padding: 1rem;

        img {
          height: 10rem;
          width: 21rem;
        }

      }

      .shop {
        margin-bottom: 1rem;
        margin-left: 1.6rem;
      }

    }

    .sec2 {
      padding: 2rem 0 0 1rem;

      
    .flash {
      font-size: 20px;
      padding-top: 0;
      font-weight: 500;
    }

      .image {
        height: 9rem;
        width: 10rem;
      }

      .button {
        margin-left: 4.7rem;
        margin-top: 0rem;
      }
    }

    .discount {
      padding: 0 0 0 0.5rem;
      margin-top: 0.5rem;
      height: 1.2rem;
      width: 2.4rem;
      font-size: 11px;
      margin-left: 10px;
    }

    .delete {
      margin-top: 0.3rem;
      height: 1.5rem;
      width: 1.5rem;
      padding: 2px 0 0 2px;
      top: 0;
      right: 0;

      span {
        font-size: 20px;
      }
    }

    .categories {
      font-size: 15px;
      font-weight: 500;
      margin-top: 6px;
      margin-left: 5px;
    }

    .prod-name {
      margin-top: 1rem;
      font-weight: 500;
      font-size: 12px;
    }

    .title-btn {

      padding-top: 1rem;
      padding-bottom: 2rem;
      height: 120px;

      img {
        cursor: pointer;
        margin-right: 7px;
      }
    }


    .inner-dflex-clock1 {

      .clock-style-2 {

        .c-up1 {
          font-size: 10px;
        }

        .c-down1 {
          font-size: 20px;
          margin-top: 0.1rem;

        }

        img {
          margin-top: 220%;
          height: 15px;
        }
      }

    }

    .cart-btn {
      display: block;
      width: 10rem;
    }

    .sec3 {
      padding: 1rem 0 0 1rem;

      .cato {
        height: 50px !important;
      }

    }

    .sec4 {
      padding: 1rem 0 0 1rem;

      .all {
        height: 2rem;
        width: 6rem;
        margin-right: 0.5rem;
      }

      .image {
        height: 9rem;
        width: 10rem;
      }

    }

    .sec5 {
      padding: 1rem 0 0 1rem;
      margin-bottom: 5rem;

      img {
        height: 11rem;
        width: 21rem;
      }

      .buybtn {
        margin-bottom: 5px;
        margin-left: 1.5rem;

        button {
          height: 1.5rem;
          width: 4.7rem;
          color: black;
          background-color: #00FF66;
        }
      }

    }

    .round-timer {
      width: 15px;
      margin-bottom: 2.2rem;
      margin-left: 1rem;


      .inner-clock-1 {
        width: 200px;


        .clock-style-1 {

          .c-up {
            font-size: 12px;
          }

          .c-down {
            font-size: 10px;
          }

        }

      }

      .round {
        height: 2.6rem;
        width: 2.6rem;
      }

    }

    .sec6 {
      padding: 1rem 0 0 1rem;

      .image {
        height: 9rem;
        width: 10rem;
      }

      .view {
        margin: 1rem 0 1rem 5.5rem;
        height: 2.5rem;
        width: 10rem;
      }
    }

    .sec7 {
      padding: 1rem 0 0 1rem;

      p {
        margin-bottom: 0;
      }

      .img-sec {
        margin: 0rem 0 1rem 0;
      }

      .mb {
        margin-bottom: 0;
      }

      .image {
        margin-left: 0;
        margin-top: 1rem;
      }

      .img1 {
        height: 15rem;
        width: 21.5rem;
        margin-left: 0;
      }

      .img2 {
        height: 15rem;
        width: 21.5rem;
      }

      .img3 {
        height: 10.1rem;
      }

    }

    .service {
      margin: 2rem 0 0 0;
      padding-left: 0;
      padding-right: 0;
    }

    .ser1 {
      margin-right: 0;
      margin-bottom: 0;

      .des {
        font-size: 10px;
      }
    }

    .ex {
      font-size: 9px;
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 15px;
    }

    .serimg {
      height: 3rem;
      width: 3rem;
    }

  }
}