<div class="about-div">

    <div class="frow">
        <p class="hm" style="color: gray;">Home /</p>&nbsp;
        <p style="font-weight: 500;">About</p>
    </div>

    <div class="discription frow hm">

        <div class="d1">
            <h1 class="title">Our Story</h1>
            <p>
                Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense
                in Bangladesh.
                Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,500 sallers
                and 300 brands and
                serves 3 millioons customers across the region.
            </p>

            <p>
                Exclusive has more than 1 Million products to offer,
                growing at a very fast. Exclusive offers a diverse assotment in categories ranging from consumer.
            </p>

        </div>

        <div class="d2">

            <img src="./assets/about-girls.png">

        </div>

    </div>

    <div class="box frow">

        <div class="all-box box1">
            <img class="o" src="./assets/d-black.png">
            <img class="h" src="./assets/d-white.png">
            <h1>10.5K</h1>
            <p>Sallers Active In Our Site</p>
        </div>

        <div class="all-box box1">
            <img class="o" src="./assets/m-black.png">
            <img class="h" src="./assets/m-white.png">
            <h1>33K</h1>
            <p>Monthly Product Sale</p>
        </div>

        <div class="all-box box1">
            <img class="o" src="./assets/s-black.png">
            <img class="h" src="./assets/s-white.png">
            <h1>45.5K</h1>
            <p>Customer Active In Our Site</p>
        </div>

        <div class="all-box box1">
            <img class="o" src="./assets/p-black.png">
            <img class="h" src="./assets/p-white.png">
            <h1>25K</h1>
            <p>Anual Gross Sale In Our Site</p>
        </div>

    </div>

    <div class="emp">

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e1.png">
                    <h1 class="name">Tom Cruise</h1>
                    <p class="post">Founder & Chairman</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e2.png" alt="">
                    <h1 class="name">Emma Watson</h1>
                    <p class="post">Managing Director</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e3.png" alt="">
                    <h1 class="name">Wil Smith</h1>
                    <p class="post">Product Designer</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e1.png" alt="">
                    <h1 class="name">Tom Cruise</h1>
                    <p class="post">Founder & Chairman</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e2.png" alt="">
                    <h1 class="name">Tom Cruise</h1>
                    <p class="post">Founder & Chairman</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
                <div class="swiper-slide fcol">
                    <img class="employee" src="./assets/e3.png" alt="">
                    <h1 class="name">Tom Cruise</h1>
                    <p class="post">Founder & Chairman</p>
                    <div class="logodiv">
                        <img class="logo1" src="./assets/tw.png">
                        <img class="logo2" src="./assets/ins.png">
                        <img class="logo3" src="./assets/li.png">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

    <div class="service frow">

        <div class="ser1">
            <img class="serimg" src="./assets/delivery.png">
            <P class="ex">FREE AND FAST DELIVERY</P>
            <p>Free delivery for all orders over $140</p>
        </div>

        <div class="ser1">
            <img class="serimg" src="./assets/delivery.png">
            <P class="ex">FREE AND FAST DELIVERY</P>
            <p>Free delivery for all orders over $140</p>
        </div>

        <div class="ser1">
            <img class="serimg" src="./assets/delivery.png">
            <P class="ex">FREE AND FAST DELIVERY</P>
            <p>Free delivery for all orders over $140</p>
        </div>

    </div>

</div>