<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container" style="margin-bottom: 4rem;margin-top: 3rem;display: flex;padding-left: 0px;">
    <div class="col-md-12 d-none d-md-block" style="padding-left: 0px; padding-right: 0px; flex: 1;">
        <img src="../../../assets/Side Image.png" class="img-fluid" style="min-height:100%; border-right: 1px solid #ccc; width: 100%;" />
    </div>
    <div class="col-md-4 bg-white p-5" >
      <div class="logincard-marg">
        <h3 class="pb-1">Create an account</h3>
        <h6 class="pb-3">Enter your details below</h6>
      </div>
        <div class="form-style form-css">
            <form [formGroup]="signUpForm">
              <div class="form-group pb-3">
                <input type="text" placeholder="Name" class="form-control" id="name"  formControlName="firstName">
            </div>
                <div class="form-group pb-3">
                    <input type="email" placeholder="Email or Phone Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="userName">
                </div>
                <div class="form-group pb-2 relative  d-flex align-items-center " >
                    <input type="{{type}}"  placeholder="Password" class="form-control pswd" id="exampleInputPassword1" (click)="toggleEyeIconVisibility()" formControlName="password" >
                    <span (click)="hideShowPass()">
                      <i class="fa {{eyeIcon}}"></i>
                    </span>
                </div>
                <div class="pb-2 pd-2-flex">
                    <div>
                      <button type="submit" (click)="onSingup()" class="btn btn-back-color btn-size color-red w-100 font-weight-bold mt-2">Create Account</button>
                    </div>
                    <div>
                      <button class="btn btn-goggle-color btn-goggle-size w-100 font-weight-bold mt-2"><img src="../../../assets/google-icon-logo.svg"> Sign up with Google</button>
                    </div>
                    <div class="redirect-login d-flex">
                      <h3 class="login-note">Already have account? &nbsp;</h3> <h3 class="link" [routerLink]="['/','login']">Log in</h3>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
