<div class="checkout-div">

    <div class="frow page">
        <p class="hm" style="color: gray;">Account / My Account / Product / View Cart /</p>&nbsp;
        <p style="font-weight: 500;">Checkout</p>
    </div>

    <div class="frow1 bill">

        <div class="bill-form">

            <div class="fcol">

                <p class="title">Biling Details</p>

                <form>

                    <div class="fcol">
                        <label>First Name</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Company Name</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Street Address</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Appartment, floor, etc. (optional)</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Town / City</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Phone Number</label>
                        <input type="text">
                    </div>

                    <div class="fcol">
                        <label>Email Address</label>
                        <input type="text">
                    </div>

                    <div class="mrg frow">
                        <input class="checkbox" type="checkbox">
                        <p>Save this information for faster check-out next time</p>
                    </div>

                </form>

            </div>

        </div>

        <div class="bill-box">

            <div class="frow bill-details bmrg">
                <div class="frow">
                    <img src="./assets/monitor.jpg">
                    <p class="prod-name">LCD Monitor</p>
                </div>
                <p class="price">$855</p>
            </div>

            <div class="frow bill-details bmrg">
                <div class="frow">
                    <img src="./assets/monitor.jpg">
                    <p class="prod-name">LCD Monitor</p>
                </div>
                <p class="price">$855</p>
            </div>

            <div class="frow bill-details">

                <p style="font-weight: 430;">Subtotal:</p>
                <p class="bill-price">$1710</p>

            </div>

            <hr>

            <div class="frow bill-details">

                <p style="font-weight: 430;">Shipping:</p>
                <p class="bill-price">Free</p>

            </div>

            <hr>

            <div class="frow bill-details">

                <p style="font-weight: 430;">Total:</p>
                <p class="bill-price">$1710</p>

            </div>


            <div class="fcol radio-div">

                <form action="">
                    
                    <div class="frow bill-details cmrg">

                        <div class="frow">
                            <input class="radio" type="radio">
                            <p class="radio-text">Bank</p>
                        </div>
    
                        <img class="img" src="./assets/card.png">
    
                    </div>
    
                    <div class="frow">
                        <input class="radio" type="radio">
                        <p class="radio-text">Cash on Delivery</p>
                    </div>

                </form>

            </div>

            <div class="frow coupon">

                <input type="text" placeholder="Coupon Code">
                <button>Apply Coupon</button>

            </div>

            <button class="order">Place Order</button>

        </div>

    </div>

</div>